* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 90px;
}

section {
    margin-top: -8px;
}


.navbar {
    padding-top: 10px;
    background-color: #fff;
    height: 80px;
    box-shadow: 1px 2px 4px black;
    z-index: 100;
}


.navbar .nav-link {
    color: black !important;
}

.nav-item {
    position: relative;
    margin: 3px;
}


.nav-link::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    opacity: 0;
    transition: all 0.5s ease-in;
}


.nav-link:hover::before {
    opacity: 1;
    width: 100%;
    transform: translateX(-50%);
}


.navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}


.navbar-toggler-icon {
    margin-bottom: 30px;
    color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.navbar-collapse {
    background-color: #fff;
    padding-top: 10px;
}


@media (max-width: 992px) {
    .navbar {
        height: auto;
    }

    .nav-link::before,
    .nav-link:hover::before {
        opacity: 0;
        width: 0;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .nav-item {
        margin: 10px 0;
    }

    .navbar-collapse {
        text-align: center;
        padding-top: 0;
    }
}

@media (max-width: 576px) {
    .navbar-toggler-icon {
        margin-bottom: 0;
    }

    .navbar {
        padding-top: 5px;
    }

    .nav-item {
        margin: 5px 0;
    }

    .navbar-collapse {
        padding-top: 5px;
    }
}






.carousel-inner {
    height: 540px;
    margin-top: 90px;
    position: relative;
    overflow: hidden;
}

.carousel-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}

.carousel-item img {
    object-fit: cover !important;
    object-position: center;
    height: 100%;
    width: 100%;
    max-height: 540px;
}

.carousel-caption {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    box-sizing: border-box;
}

.carousel-caption h5 {
    font-size: 2.4rem;
}

.carousel-caption p {
    font-size: 1.7rem;
}

.carousel-indicators {
    bottom: 10px;
}

.carousel-indicators button {
    border-radius: 50%;
    height: 12px !important;
    width: 12px !important;
    background-color: white !important;
}





.img-container {
    position: relative;
    width: 100%;
    height: 210px;
}

.r-img {
    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.r-img2 {
    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%);
}


.btn1 {
    width: 110px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
    transition: all 0.4s ease-in;
}

.btn1:hover {
    background-color: #d18f31;
    color: white;
}




.hyphen-cross-hyphen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;

}

.hyphen-cross-hyphen .hyphen {
    width: 55px;
    height: 3px;
    background-color: #d18f31;

}

.hyphen-cross-hyphen .cross {
    font-size: 60px;
    color: #d18f31;
    transform: rotate(45deg);
    margin-bottom: 9px;
    margin-left: 10px;

}





.main-room {
    position: relative;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.main-room:hover {
    transform: scale3d(1.05, 1.05, 1.05);
}

.inner-room {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    width: 90%;
    height: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    opacity: 0;
    transition: all 1s ease-in-out;
    box-sizing: border-box;
    border: 2px solid white;
    text-align: justify;
    gap: 10px;
    z-index: 2;

}

.main-rimg img {
    height: 350px !important;
}

.inner-room button {
    background: transparent;
    color: white;
    border: 2px solid white;
}

.main-room:hover .inner-room {
    opacity: 1;

}

.main-room img {
    transition: all 0.5s ease;
    position: relative;
    width: 100%;
}

.main-room::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 20;
    left:20; */
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.main-room:hover::before {
    opacity: 0.8;
    z-index: 1;
}







.s-section {
    overflow: hidden;
    margin-top: 80px;
}


.service-menu .nav li {
    margin-bottom: 15px;
}

.service-menu .nav li a {

    align-items: start;
    text-decoration: none;
    color: black;
}

.service-menu .nav li a .service-icon {
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.service-menu .nav li a .text-container {
    display: flex;
    flex-direction: column;
}

.service-menu .nav li a .text-container h5 {
    margin: 0;
    font-size: 1.25rem;
}

.service-menu .nav li a .text-container p {
    margin: 0;
    font-size: 0.875rem;
    color: #6c757d;
}


.service-icon img:hover {
    filter: invert(1);
}





.staff-main {
    position: relative;
    overflow: hidden;
}

.staff2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    padding-top: 20px;
    background-color: #d18f31;
    text-align: center;
    margin-bottom: -67px;
    transition: all 0.5s ease-in-out;
}

.staff2:hover {
    margin-bottom: 0px;
    cursor: pointer;
}

.staff1 img {
    width: 100%;
}

.staff-ul {
    display: flex;
    background-color: rgb(1, 1, 71);
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

}

.staff-ul li {
    list-style: none;
    margin: 20px;
    border: 1px solid white;
    border-radius: 100%;
    transition: all 1s ease;
}

.staff-ul li:hover {
    background-color: #d18f31;
}

.staff-ul li a {

    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px;
}

@property --direction {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.inner-price {
    position: relative;
    background-color: black;
    color: white;
    width: 300px;
    height: 380px;
    padding: 20px 10px;
    border-radius: 5px;

}

.inner-price::after,
.inner-price::before {
    content: '';
    position: absolute;
    height: 105%;
    width: 105%;
    background-image: conic-gradient(from var(--direction),
            transparent 60%,
            blue, red, green);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 5px;
    animation: spin 3s linear infinite;
}

.inner-price::after {
    filter: blur(5px);
}

@keyframes spin {
    from {
        --direction: 0deg;
    }

    to {
        --direction: 360deg;
    }
}

.inner-price hr {
    width: 90%;
    margin: 20px auto;
}

.inner-price span {
    font-size: 12px;
}

.inner-price button {
    width: 90%;
    border: 1px solid white;
    border-radius: 20px;
    padding: 3px;
    background: transparent;
    margin-top: 10px;
    color: white;
}



.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 80%;
    height: 100%;
    object-fit: cover;
}






.footer-main {
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px 10px;
}

.footer1,
.footer2,
.footer3,
.footer4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer2 a,
.footer3 a {
    text-decoration: none;
    color: white;
}

.footer2 p,
.footer3 p {
    transition: all 1s ease;
}

.footer2 p:hover,
.footer3 p:hover {
    transform: translateX(10px);
}

.footer1 {
    padding-top: 3px;
}

.footer4 .d-flex {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer4 button {
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background: transparent;
    transition: all 1s ease;
    height: 38px;
}

.footer4 button:hover {
    background-color: #d18f31;
}

.footer4 input {
    border: 1px solid white;
    color: white;
    background-color: black;
    padding: 3px;
    border-radius: 5px;
    width: 250px;
    height: 35px;
}



.footer4 ul {
    display: flex;
    align-items: center;
    color: white;
}

.footer4 ul li {
    margin: 5px 10px;
    font-size: 18px;
    transition: all 1s ease;
    border: 1px solid white;
    border-radius: 50%;
    padding: 7px;
}

.footer4 ul li:hover {
    background-color: #d18f31;
}








@media (max-width: 768px) {
    .carousel-inner {
        height: 400px;
        margin-top: 60px;
    }

    .carousel-caption h5 {
        font-size: 1.5rem;
    }

    .carousel-caption p {
        font-size: 1.25rem;
    }
}

@media (max-width: 576px) {
    .carousel-inner {
        height: 350px;
        margin-top: 30px;
    }

    .carousel-caption h5 {
        font-size: 1.25rem;
    }

    .carousel-caption p {
        font-size: 1rem;
    }
}



@media (max-width: 576px) {
    .main-rimg img {
        height: 300px;
    }
}

@media (max-width:992px) {
    .main-room::before {
        width: 100%;
    }
}